{% include "app/header.html"%}

<!--**********************************
            Toggle css & js 
        ***********************************-->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<!--**********************************
                    Toggle css & js
                ***********************************-->
<!--**********************************
                    Content body start
                ***********************************-->
<style type="text/css">
    table th,
    table td {
        border: 1px solid #000;
        padding: 10px;
    }
</style>
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">CHA2DS2-VASc Score</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form action="{% url 'clinical'%}" method="POST">
                                {% csrf_token %}
                                <div class="form-group col-md-12">
                                    <label><b>Patient Name</b></label>
                                    <input type="text" class="form-control" name="patient_name"
                                        placeholder="Enter Patient Name" required />
                                </div>
                                <div class="form-group col-md-12">
                                    <label><b>Score Date</b></label>
                                    <input type="date" class="form-control" name="result_date"
                                        placeholder="Enter Score Date" required />
                                </div>
                                <div class="form-group col-md-12">
                                    <label><b>Age</b></label>
                                    <select class="form-control" name="age">
                                        <option selected disabled>Select Age Range</option>
                                        <option value="0">
                                            < 65 (0 Score)</option>
                                        <option value="1"> 65-74 (+1 Score)</option>
                                        <option value="2"> >= 75 (+2 Score)</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Sex</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="checkbox" data-toggle="toggle" data-on="Female +1"
                                                data-off="Male 0" data-offstyle="dark" name="sex" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>CHF History</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No 0"
                                                data-offstyle="dark" name="chf_history" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Hypertension History</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No 0"
                                                data-offstyle="dark" name="hypertension_history" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Stroke/TIA/thromboembolism history</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No 0"
                                                data-offstyle="dark" name="thromboembolism_history" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Vascular disease history</b> (prior MI, peripheral artery
                                                disease, or aortic plaque)</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No 0"
                                                data-offstyle="dark" name="vascular_disease" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Diabetes history</b></label>
                                            <p>Unstable/high INRs, time in therapeutic range <60%< /p>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="checkbox" data-toggle="toggle" data-on="Yes +1" data-off="No 0"
                                                data-offstyle="dark" name="diabetes_history" value="1">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <br>
                        <div class="col-md-12 text-center">

                            <div class="ajax-load1 text-center" style="display:none;">
                               
                            </div>

                            <div class="col-md-12">
                                <div id="alert_message"></div>
                            </div>
                        </div>

                        <button style="background-color: #832852;" type="submit" onclick="showBox()" class="btn btn-primary">Generate
                            Score</button>
                        <br><br>
                        <div class="swal2-container swal2-center swal2-shown" id="secondTab" style="overflow-y: auto; display:none;">
                            <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
                                class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog"
                                aria-live="assertive" aria-modal="true" style="display: flex;">
                                <div class="swal2-header">
                                    <ul class="swal2-progress-steps" style="display: none;"></ul>
                                    <div class="swal2-icon swal2-error" style="display: none;"><span
                                            class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span
                                                class="swal2-x-mark-line-right"></span></span></div>
                                    <div class="swal2-icon swal2-question" style="display: none;"></div>
                                    <div class="swal2-icon swal2-warning" style="display: none;"></div>
                                    <div class="swal2-icon swal2-info" style="display: none;"></div>
                                    <div class="swal2-icon swal2-success swal2-animate-success-icon"
                                        style="display: flex;">
                                        <div class="swal2-success-circular-line-left"
                                            style="background-color: rgb(255, 255, 255);"></div><span
                                            class="swal2-success-line-tip"></span> <span
                                            class="swal2-success-line-long"></span>
                                        <div class="swal2-success-ring"></div>
                                        <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);">
                                        </div>
                                        <div class="swal2-success-circular-line-right"
                                            style="background-color: rgb(255, 255, 255);"></div>
                                    </div><img class="swal2-image" style="display: none;">
                                    <h2 class="swal2-title" id="swal2-title" style="display: flex;">CHA2DS2-VASc Score
                                        Calculated Successfully!</h2><button type="button" class="swal2-close"
                                        aria-label="Close this dialog" style="display: none;">×</button>
                                </div>
                                <div class="swal2-content">
                                    <div id="swal2-content" style="display: none;"></div><input class="swal2-input"
                                        style="display: none;"><input type="file" class="swal2-file"
                                        style="display: none;">
                                    <div class="swal2-range" style="display: none;"><input
                                            type="range"><output></output></div><select class="swal2-select"
                                        style="display: none;"></select>
                                    <div class="swal2-radio" style="display: none;"></div><label for="swal2-checkbox"
                                        class="swal2-checkbox" style="display: none;"><input type="checkbox"><span
                                            class="swal2-label"></span></label><textarea class="swal2-textarea"
                                        style="display: none;"></textarea>
                                    <div class="swal2-validation-message" id="swal2-validation-message"></div>
                                </div>
                                <div class="swal2-actions"><button type="button" class="swal2-confirm swal2-styled"
                                        aria-label=""
                                        style="display: inline-block; background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">Done</button><button
                                        type="button" class="swal2-cancel swal2-styled" aria-label=""
                                        style="display: none; background-color: rgb(221, 51, 51);">No</button></div>
                                <div class="swal2-footer" style="display: none;"></div>
                            </div>
                        </div>
                        <!-- <div class="col-md-12" id="result" style=""> -->
                        <div class="alert alert-success border-info" role="alert">
                            <div id="result_message">
                                <table>
                                    <tbody>
                                        <!-- <table> -->
                                        <tr>
                                            <th>Total Score</th>
                                            <th>Risk Level</th>
                                            <th>Thromboembolic event rate</th>
                                            <th>Treatment Recommendations (ESC guidelines 2010)</th>

                                        </tr>
                                        <tr>
                                            <td>{{ mymembers.total_score }}</td>
                                            <td>{{ mymembers.risk_level }}</td>
                                            <td>{{ mymembers.thromboembolic_event_rate}}</td>
                                            <td>{{ mymembers.treatment_recommendations}}</td>

                                        </tr>
                                        <!-- </table> -->
                                        <!-- <tr> -->
                                        <!-- <td><b>1</b></td>
                                            <td><b>Intermediate</b></td>
                                            <td><b>0.46 -2.8%</b></td>
                                            <td><b>Oral anticoagulant is
                                                    recommended for
                                                    stroke prevention in
                                                    AF (Class II, level
                                                    B); Non-vitamin K
                                                    antagonist oral
                                                    anticoagulants
                                                    (NOACs) are
                                                    recommended in
                                                    preference to VKAs
                                                    (Class I, level A).
                                                    VKA with INR goal
                                                    2.0–3.0 in patients
                                                    with mechanical
                                                    heart valves or
                                                    moderate-to-severe
                                                    mitral stenosis
                                                    (Class I, level B).</b></td>
                                        </tr> -->
                                    </tbody>
                                </table><br>
                                <!-- <p><b>Disclaimer</b>: <br>Calculations alone should never dictate patient care, and
                                    are no substitute for professional judgement.</p>
                                <p><b>Reference</b>:<br>
                                    (1) CHADS2 Score for Stroke Risk Assessment in Atrial Fibrillation. Accessed May
                                    29, 2022. https://emedicine.medscape.com/article/2172597-overview<br>
                                    (2) Odum LE, Cochran KA, Aistrope DS, Snella KA. The CHADS₂versus the new
                                    CHA2DS2-VASc scoring systems for guiding antithrombotic treatment of patients
                                    with atrial fibrillation: review of the literature and recommendations for
                                    use.&nbsp;Pharmacotherapy. 2012;32(3):285-296.<br>
                                    (3) Hindricks G, Potpara T, Dagres N, et al. 2020 ESC Guidelines for the
                                    diagnosis and management of atrial fibrillation developed in collaboration with
                                    the European Association for Cardio-Thoracic Surgery (EACTS): The Task Force for
                                    the diagnosis and management of atrial fibrillation of the European Society of
                                    Cardiology (ESC) Developed with the special contribution of the European Heart
                                    Rhythm Association (EHRA) of the ESC.&nbsp;Eur Heart J. 2021;42(5):373-498. </p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="result" style="display:none;">
                        <div class="alert alert-success border-info" role="alert">
                            <div id="result_message"></div>
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--**********************************
                    Content body end
                ***********************************-->
<!-- <script src="<?php echo base_url('assets/jquery.min.js'); ?>"></script> -->
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>

function showBox()
{
    $("#secondTab").show();
    $("#swal2-title").show();
}


    $(document).ready(function () {
        $("#result").hide();
        var frm = $('#Blogform1');
        frm.submit(function (e) {
            e.preventDefault();


            $(".ajax-load1").show();
            $("#secondTab").show();

            var formData = new FormData($(this)[0]);
            $.ajax({
                method: 'POST',
                url: "/cha",
                data: 'data',
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    $(".ajax-load1").hide();
                    var res = JSON.parse(data);

                    status = res.status;
                    message = res.message;
                    if (status == 'success') {
                        Swal.fire({
                            title: 'CHA2DS2-VASc Score Calculated Successfully!',
                            //text: "You can add more customer!",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Done',
                            cancelButtonText: "No",
                        }).then((result) => {
                            if (result.value) {
                                $("#result").show();
                                $('#result_message').html(message);
                            }

                        })
                    }
                    else {
                        $('#alert_message').html('<div class="text-center alert alert-danger">' + message + '</div>');
                    }
                }
            });
        });



    });




</script>
{% include "app/footer.html"%}